{% extends 'base.html' %} {% block title %}
  : Все статьи
{% endblock %}

{% load markdown %}

{% block main %}
  <h2 class="text-2xl">All Posts</h2>

  {% for post in posts %}
    <article class="card card-side bg-base-100 shadow-xl post">
      <figure class="shrink-0"><img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" alt="avatar"/></figure>
      <div class="card-body">
        <header class="p-4 flex gap-2">
          Тэги:
          {% for tag in post.tags.all %}
          <a
            href="{% url 'blog:post_list_by_tag' tag.slug %}"
            class="badge badge-primary cursor-pointer">
            {{ tag }}
          </a>
          {% endfor %}
        </header>
        <h3 class="card-title">
          <a href="{{ post.get_absolute_url }}" class="post__link">
            {{ post.title }}
          </a>
        </h3>
        <p class="text-lg">{{ post.body|markdown|truncatewords:30 }}</p>
        <footer class="text-base">Published {{ post.published }} by {{ post.author }}</footer>
      </div>
    </article>
  {% endfor %}
  {% include 'blog/post/pagination.html' with page=page_obj %}
{% endblock %}
