{% extends 'base.html' %} {% block title %}
  : Все статьи
{% endblock %}

{% load markdown %}
{% load forms_tags %}

{% block main %}
  <h2 class="text-2xl">All Posts</h2>

  {% if request.user.is_authenticated %}
  <button class="btn fixed z-10 bottom-8 right-8 bg-blue-100 text-fuchsia-900 outline-hidden" onclick="new_post.showModal()">New Post</button>
  {% endif %}

  <dialog id="new_post" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg">New post</h3>
      <form action="" method="post" class="flex flex-col gap-2 mt-8">
          <label for="title" class="label-text">{{ new_form.title.label }}</label>
          {{ new_form.title|with_class:'input input-bordered w-full'}}

          <label for="body" class="label-text">{{ new_form.body.label }}</label>
          {{ new_form.body|with_class:'textarea textarea-bordered resize-none w-full'}}

          {% csrf_token %}
          <button class="btn btn-outline btn-primary self-end" type="submit">Create</button>
      </form>
    </div>
  </dialog>

  {% for post in posts %}
    <article class="card card-side bg-base-100 shadow-xl post">
      <figure class="shrink-0"><img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" alt="avatar"/></figure>
      <div class="card-body">
        <header class="p-4 flex gap-2">
          Тэги:
          {% for tag in post.tags.all %}
          <a
            href="{% url 'blog:post_list_by_tag' tag.slug %}"
            class="badge badge-primary cursor-pointer">
            {{ tag }}
          </a>
          {% endfor %}
        </header>
        <h3 class="card-title">
          <a href="{{ post.get_absolute_url }}" class="post__link">
            {{ post.title }}
          </a>
        </h3>
        <p class="text-lg">{{ post.body|markdown|truncatewords:30 }}</p>
        <footer class="text-base">Published {{ post.published }} by {{ post.author }}</footer>
      </div>
    </article>
  {% empty %}
    <p class="text-lg">Sorry. You have no posts yet. Wanna write your first post?</p>
  {% endfor %}
  {% include 'blog/post/pagination.html' with page=page_obj %}
{% endblock %}

{% block js %}
<script>
  function handleSubmit(event) {
    event.preventDefault()
    const formData = newForm.elements
    const title = formData['title'].value
    const body = formData['body'].value

    fetch('/api/blog/', {
      method: 'post',
      body: JSON.stringify({title, body}),
      headers: {
        'Content-Type': 'application/json'
      }
    }).then((response) => {
      if (!response.ok) {
        throw new Error('API error')
      }
      location.reload()
    })
    .catch(error => console.log(error))
  }

  const newForm = document.querySelector('.modal form[method=post]')
  newForm.addEventListener('submit', handleSubmit)
</script>
{% endblock %}
