{% extends 'base.html' %}
{% load forms_tags %}

{% block title %}
  Sign Up
{% endblock %}

{% block main %}
  <h1 class="text-4xl mx-auto">Sign Up</h1>
  <form method="post" class="flex flex-col gap-2 max-w-xl mx-auto">
    <label for="username" class="label-text">{{ form.username.label }}</label>
    {{ form.username|with_class:'input input-bordered w-full' }}

    <label for="email" class="label-text">{{ form.email.label }}</label>
    {{ form.email|with_class:'input input-bordered w-full' }}

    <label for="password" class="label-text">{{ form.password.label }}</label>
    {{ form.password|with_class:'input input-bordered w-full' }}

    <label for="password_repeat" class="label-text">{{ form.password_repeat.label }}</label>
    {{ form.password_repeat|with_class:'input input-bordered w-full' }}

    {% csrf_token %}
    <button class="btn btn-outline btn-primary" type="submit">Sign Up</button>
    <a href="{% url 'account:login' %}" class="btn btn-outline btn-secondary">Log In</a>
  </form>
{% endblock %}
